body{
    margin: 0;
    margin-top: -35px;
    padding: 0;
    box-sizing: border-box;

}

.top-body{
    background-color: #1F2937;
    padding: 10px;
    height: 450px;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    margin-top: 35px;
    
}

.hero-maintext{
    color:#F9FAF8;
    font-size: 48px;
    margin-left: 200px;
    padding-top: 25px;
}

.hero-subtext{
    color: #797f88;
    margin-left: 200px;
    margin-top: -40px;
}

.mid-body{
    background-color:#ffffff ;
}


.link{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 300px;
    left: 270px;
}

.link-a{
    padding: 15px;
}

a {color: #F9FAF8; text-decoration: none;}
a:hover {text-decoration: none; color:#3882F6;}

.hero-img{
    margin-left: 1000px;
    background-color: #797f88;
    position: relative;
    bottom: 210px;
    border: solid #797f88 1px;
    border-width: 100px;
    color: #F9FAF8;
}

.hero-btn{
    background-color: #3882F6;
    color: white;
    margin-left: 200px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 12px;
    width: 75px;
}


.mid-header{
    position: relative;
    left: 700px;
    font-size: 36px;
    top: -5px;
    color: #1F2937;
}

.img-mid{
    border: #3882F6 3px solid;
    border-radius: 5px;
    margin-top: 25px;
}

.midlow-body{
    background-color:white ;
    border-color: white;
    border: solid white 100px;
    height: 100px;
}

.mid-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 250px;
}

.img-details{
    position: relative;
    top: 125px;
    right: 130px;
    color: #797f88;

}


.quote{
    font-size: 26px ;
}

.quote-author{
    position: relative;
    top: 100px;
}

.low-body{
    background-color: #e5e7eb;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 200px;
}

.header-low{
    color: #F9FAF8;
    position: relative;
    top: 35px;
    left: 375px;
    font-size: 19px;
}

.signup-p{
    color: #f9faf8be;
    position: relative;
    left: 375px;
    top: 5px;
    font-size: 14px;
}

.signup-btn{
    background-color: #3882F6;
    border: 1px #F9FAF8 solid;
    border-radius: 5px;
    color: #F9FAF8;
    position: relative;
    left: 1100px;
    width: 100px;
    height: 35px;
    bottom: 35px;
}

.inside-midlow{
    border: 0px solid;
    border-radius: 5px;
    background-color: #3882F6;
    position: relative;
    bottom: 30px;
}

.copyright-body{
    height: 50px;
    background-color: #1F2937;
}

.copyright{
    position: relative;
    top: 20px;
    left: 800px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 14px;
}